.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border: rgb(136, 8, 8);
    border-style: solid;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

li {
    font-size: 23pt;
}

* {
    background: linear-gradient(45deg, #ffffff, #e0e0e0);
    border-radius: 10px;
    padding: 10px;
}

h1{
    font-size: 35pt;
    justify-content: center;
}

#header {
    justify-content: center;
    height: 10vh;
}

img {
    width: 500px;
    height: 300px;
}

.elenapic {
    width: 500px;
    height: 400px
}

@media screen and (max-width: 1500px) {
    h1{
        font-size: 20pt;
        justify-content: center;
    }
    img {
        width: 300px;
        height: 100px;
    }
    
    .elenapic {
        width: 300px;
        height: 200px
    }

    li {
        font-size: 12pt;
    }
}

